{% extends 'layout.html' %}
{% load thumbnail %}
{% load static %}
{% block content %}
    <h2>Search</h2>
    {% if query %}
        <h3>Results for "{{ query }}"</h3>

        {% for result in page.object_list %}
            <!-- Results -->
            <article class="post">
                <header>
                    <div class="title">
                        <h2>
                            <a href="{% url 'article' topic=result.object.topic.lower slug=result.object.slug %}">{{ result.object.title }}</a>
                        </h2>
                        <p>{{ result.object.subheading }}</p>
                    </div>
                    <div class="meta">
                        <time class="published" datetime="2015-11-01">{{ result.object.published_date.date }}</time>
                        <a href="{% url "profile" pk=result.object.author.pk %}" class="author"><span
                                class="name">{{ result.object.author.get_full_name }}</span>
                            {% thumbnail result.object.author.userprofile.display_picture "1024x1024" crop='center' as t_dp %}
                                <img src="{{ t_dp.url }}"
                                     alt="{{ result.object.author.get_full_name }}"/>
                            {% endthumbnail %}
                        </a>
                    </div>
                </header>
                <p>{{ result.object.content|truncatechars:420|safe }}</p>
                <footer>
                    <ul class="actions">
                        <li><a href="{% url 'article' topic=result.object.topic.lower slug=result.object.slug %}"
                               class="button big">Continue
                            Reading</a></li>
                    </ul>
                    <ul class="stats">
                        <li><a href="#">{{ result.object.topic }}</a></li>
                    </ul>
                </footer>
            </article>
        {% empty %}
            <p>No results found.</p>
        {% endfor %}

        {% if page.has_previous or page.has_next %}
            <div>
                {% if page.has_previous %}
                    <a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous
                {% if page.has_previous %}</a>{% endif %}
                |
                {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}
                Next &raquo;{% if page.has_next %}</a>{% endif %}
            </div>
        {% endif %}
    {% else %}
        {# Show some example queries to run, maybe query syntax, something else? #}
    {% endif %}
{% endblock %}