{% extends "layout.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}
    <section>
        <h2>{{ title }}</h2>
        <p>{{ website.about }}</p>
    </section>
    <section>
        <h2>Meet the Team</h2>
        {% for profile in userprofiles %}
            <!-- Post -->
            <article class="post">
                <header>
                    <div class="title">
                        <h2><a href="{% url "profile" pk=profile.pk %}">{{ profile.username.get_full_name }}</a></h2>
                        <p>{{ profile.designation }}</p>
                    </div>
                    <div class="meta">
                        <a href="{% url "profile" pk=profile.pk %}" class="image main">
                            {% thumbnail profile.display_picture "1024x1024" crop='center' as t_dp %}
                                <img src="{{ t_dp.url }}"
                                     alt="{{ profile.username.get_full_name }}"/>
                            {% endthumbnail %}
                        </a>
                    </div>
                </header>
                <p>{{ profile.about_me }}</p>
                <footer>
                    <ul class="actions">
                        <li><a href="{% url "profile" pk=profile.pk %}" class="button big">View Profile</a></li>
                    </ul>
                </footer>
            </article>
        {% endfor %}
    </section>
{% endblock %}
