{% extends "layout.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}
    <h2>{{ article.topic }}</h2>
    <!--article-->
    <article class="post">
        <header>
            <div class="title">
                <h2>
                    {{ article.title }}
                </h2>
                <p>{{ article.subheading }}</p>
            </div>
            <div class="meta">
                <time class="published" datetime="2015-11-01">{{ article.published_date.date }}</time>
                <a href="{% url "profile" pk=article.author.pk %}" class="author"><span
                        class="name">{{ article.author.get_full_name }}</span>
                    {% thumbnail article.author.userprofile.display_picture "1024x1024" crop='center' as t_dp %}
                        <img src="{{ t_dp.url }}" alt="{{ article.author.get_full_name }}"/>
                    {% endthumbnail %}
                </a>
            </div>
        </header>
        <img src="{{ article.image.url }}" alt="{{ article.title }}" class="image main"/>
        <p>{{ article.content|safe }}</p>
        <footer>
            <ul class="stats">
                <li><a href="#">{{ article.topic }}</a></li>
                <li>
                    <a href="https://www.facebook.com/sharer/sharer.php?u={{ module.website }}{% url 'article' topic=article.topic.lower slug=article.slug %}"
                       class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
                <li>
                    <a href="https://twitter.com/home?status=Daily%20Prophet%20:%0A{{ module.website }}{% url 'article' topic=article.topic.lower slug=article.slug %}"
                       class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                <li>
                    <a href="https://plus.google.com/share?url={{ module.website }}{% url 'article' topic=article.topic.lower slug=article.slug %}"
                       class="icon fa-google-plus" target="_blank"><span class="label">Google Plus</span></a></li>
                <li>
                    <a href="whatsapp://send?text={{ article.title }} {{ module.website }}{% url 'article' topic=article.topic.lower slug=article.slug %}"
                       class="icon style3 fa-whatsapp"><span class="label">WhatsApp</span></a>
            </ul>
        </footer>
    </article>
{% endblock %}