{% extends "layout.html" %}
{% load static %}
{% block content %}
    <section>
        <h3>{{ title }}</h3>
        <form method="post" action="">
            {% csrf_token %}
            <div class="row uniform">
                <div class="6u 12u$(xsmall)">
                    {{ form.name }}
                </div>
                <div class="6u$ 12u$(xsmall)">
                    {{ form.email }}
                </div>
                <div class="12u$">
                    {{ form.message }}
                </div>
                <div class="12u$">
                    <ul class="actions">
                        <li><input type="submit" value="Send Message"/></li>
                    </ul>
                </div>
            </div>
        </form>
    </section>
{% endblock %}