{% extends "layout.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}
    <h2>{{ title }}</h2>
    {% for article in articles %}
        <!-- Post -->
        <article class="post">
            <header>
                <div class="title">
                    <h2>
                        <a href="{% url 'article' topic=article.topic.lower slug=article.slug %}">{{ article.title }}</a>
                    </h2>
                    <p>{{ article.subheading }}</p>
                </div>
                <div class="meta">
                    <time class="published" datetime="2015-11-01">{{ article.published_date.date }}</time>
                    <a href="{% url "profile" pk=article.author.pk %}" class="author"><span
                            class="name">{{ article.author.get_full_name }}</span>
                        {% thumbnail article.author.userprofile.display_picture "1024x1024" crop='center' as t_dp %}
                            <img src="{{ t_dp.url }}"
                                 alt="{{ article.author.get_full_name }}"/>
                        {% endthumbnail %}
                    </a>
                </div>
            </header>
            <a href="{% url 'article' topic=article.topic.lower slug=article.slug %}" class="image featured">
                {% thumbnail article.image "840x341" crop='center' as thumb %}
                    <img src="{{ thumb.url }}" alt="{{ article.title }}"/>
                {% endthumbnail %}
            </a>
            <p>{{ article.content|truncatechars:420|safe }}</p>
            <footer>
                <ul class="actions">
                    <li><a href="{% url 'article' topic=article.topic.lower slug=article.slug %}" class="button big">Continue
                        Reading</a></li>
                </ul>
                <ul class="stats">
                    <li><a href="#">{{ article.topic }}</a></li>
                    <li>
                        <a href="https://www.facebook.com/sharer/sharer.php?u=
                                {{ module.website }}{% url 'article' topic=article.topic.lower slug=article.slug %}"
                           class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
                    <li>
                        <a href="https://twitter.com/home?status=Daily%20Prophet%20:%0A
                                {{ module.website }}{% url 'article' topic=article.topic.lower slug=article.slug %}"
                           class="icon fa-twitter" target="_blank"><span class="label">Twitter</span></a></li>
                    <li>
                        <a href="whatsapp://send?text={{ article.title }}
                                {{ module.website }}{% url 'article' topic=article.topic.lower slug=article.slug %}"
                           class="icon style3 fa-whatsapp"><span class="label">WhatsApp</span></a>
                </ul>
            </footer>
        </article>
    {% endfor %}
    <!-- Pagination -->
    <ul class="actions pagination">
        {% if articles.has_previous %}
            <li><a href="?page={{ articles.previous_page_number }}" class="button big previous">Previous
                Page</a></li>
        {% else %}
            <li><a href="#" class="disabled button big previous">Previous Page</a></li>
        {% endif %}

        {% if articles.has_next %}
            <li><a href="?page={{ articles.next_page_number }}" class="button big next">Next Page</a></li>
        {% else %}
            <li><a href="#" class="disabled button big next">Next Page</a></li>
        {% endif %}
    </ul>
{% endblock %}
