<!DOCTYPE HTML>
<!--
	Future Imperfect by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <meta name="theme-color" content="#2ebaae">
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1"/>
    <title>{{ title }} &bull; {{ website.title }}</title>
    <meta name="Description" content="{{ meta }}">
    {% load static %}
    {% load thumbnail %}
    <script src="{% static 'assets/js/jquery.min.js' %}"></script>
    <!--[if lte IE 8]><script src="{% static 'assets/js/ie/html5shiv.js' %}"></script><![endif]-->
    <link rel="stylesheet" href="{% static 'assets/css/main.css' %}"/>
    <link rel="icon" href="{% static 'images/favicon.ico' %}">
    <!--[if lte IE 9]><link rel="stylesheet" href="{% static 'assets/css/ie9.css' %}" /><![endif]-->
    <!--[if lte IE 8]><link rel="stylesheet" href="{% static 'assets/css/ie8.css' %}" /><![endif]-->
</head>
<body>

<!-- Wrapper -->
<div id="wrapper">

    <header id="header">
        <h1><a href="{% url 'home' %}">{{ website.title }}</a></h1>
        <nav class="links">
            <ul>
                {% if module.news_module %}
                    <li><a href="{% url 'news' %}">News</a></li>
                {% endif %}
                {% if module.politics_module %}
                    <li><a href="{% url 'politics' %}">Politics</a></li>
                {% endif %}
                {% if module.technology_module %}
                    <li><a href="{% url 'technology' %}">Technology</a></li>
                {% endif %}
                {% if module.entertainment_module %}
                    <li><a href="{% url 'entertainment' %}">Entertainment</a></li>
                {% endif %}
                {% if module.trends_module %}
                    <li><a href="{% url 'trends' %}">Trends</a></li>
                {% endif %}
            </ul>
        </nav>
        <nav class="main">
            <ul>
                <li class="search">
                    <a class="fa-search" href="#search">Search</a>
                    <form id="search" action="/search/?q=">
                        <input type="search" name="q" id="id_q" placeholder="Search"/>
                    </form>
                </li>
                <li class="menu">
                    <a class="fa-bars" href="#menu">Menu</a>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Menu -->
    <section id="menu">

        <!-- Search -->
        <section>
            <form id="search" action="/search/?q=">
                <input type="search" name="q" id="id_q" placeholder="Search"/>
            </form>
        </section>

        <!-- Links -->
        <section>
            <ul class="links">
                {% if module.news_module %}
                    <li>
                        <a href="{% url 'news' %}">
                            <h3>News</h3>
                            <p>Interesting news articles.</p>
                        </a>
                    </li>
                {% endif %}
                {% if module.politics_module %}
                    <li>
                        <a href="{% url 'politics' %}">
                            <h3>Politics</h3>
                            <p>What's up with dirty politics?</p>
                        </a>
                    </li>
                {% endif %}
                {% if module.technology_module %}
                    <li>
                        <a href="{% url 'technology' %}">
                            <h3>Technology</h3>
                            <p>Latest tech tips and gadgets article.</p>
                        </a>
                    </li>
                {% endif %}
                {% if module.entertainment_module %}
                    <li>
                        <a href="{% url 'entertainment' %}">
                            <h3>Entertainment</h3>
                            <p>Everything from the idiot box to silver screen.</p>
                        </a>
                    </li>
                {% endif %}
                {% if module.trends_module %}
                    <li>
                        <a href="{% url 'trends' %}">
                            <h3>Trends</h3>
                            <p>What's the latest trend, find out!</p>
                        </a>
                    </li>
                {% endif %}
                {% if module.about_module %}
                    <li>
                        <a href="{% url 'about' %}">
                            <h3>About Us</h3>
                        </a>
                    </li>
                {% endif %}
                {% if module.contact_module %}
                    <li>
                        <a href="{% url 'contact' %}">
                            <h3>Contact Us</h3>
                        </a>
                    </li>
                {% endif %}
            </ul>
        </section>

    </section>


    <!-- Main -->
    <div id="main">
        {% block content %}{% endblock %}
    </div>

    <!-- Sidebar -->
    <section id="sidebar">

        <!-- Intro -->
        <section id="intro">
            <a href="{% url 'home' %}" class="logo">
                {% thumbnail website.logo "81x80" crop='center' as t_logo %}
                    <img src="{{ t_logo.url }}" alt="{{ website.title }}"/></a>
                {% endthumbnail %}
            <header>
                <h2>{{ website.title }}</h2>
                {% if module.quote_module %}
                    <p>{{ website.quote }}</p>
                {% endif %}
            </header>
        </section>
        {% if module.featured_module %}
            <!-- Featured Mini Posts -->
            <section>
                <h2>Featured</h2>
                <div class="mini-posts">
                    {% for article in featured %}
                        <!-- Mini Post -->
                        <article class="mini-post">
                            <header>
                                <h3>
                                    <a href="{% url 'article' topic=article.topic.lower slug=article.slug %}">{{ article.title }}</a>
                                </h3>
                                <time class="published" datetime="2015-10-20">{{ article.published_date.date }}</time>
                                <a href="{% url "profile" pk=article.author.pk %}" class="author">
                                    {% thumbnail article.author.userprofile.display_picture "1024x1024" crop='center' as t_dp %}
                                        <img src="{{ t_dp.url }}"
                                             alt="{{ article.author.get_full_name }}"/>
                                    {% endthumbnail %}
                                </a>
                            </header>
                            <a href="{% url 'article' topic=article.topic.lower slug=article.slug %}" class="image">
                                {% thumbnail article.image "351x176" as thumb %}
                                    <img src="{{ thumb.url }}" alt="{{ article.title }}"/></a>
                                {% endthumbnail %}
                        </article>
                    {% endfor %}
                </div>
            </section>
        {% endif %}

        {% if module.top_news_module %}
            <!-- News Posts List -->
            <section>
                <h2>Top News</h2>
                <ul class="posts">
                    {% for article in news_articles %}
                        <li>
                            <article>
                                <header>
                                    <h3>
                                        <a href="{% url 'article' topic=article.topic.lower slug=article.slug %}">{{ article.title }}</a>
                                    </h3>
                                    <time class="published"
                                          datetime="2015-10-20">{{ article.published_date.date }}</time>
                                </header>
                                <a href="{% url 'article' topic=article.topic.lower slug=article.slug %}" class="image">
                                    {% thumbnail article.image "51x51" as thumb %}
                                        <img src="{{ thumb.url }}" alt="{{ article.title }}"/></a>
                                    {% endthumbnail %}
                                </a>
                            </article>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        {% if module.top_politics_module %}
            <!-- Politics Posts List -->
            <section>
                <h2>Top Politics</h2>
                <ul class="posts">
                    {% for article in political_articles %}
                        <li>
                            <article>
                                <header>
                                    <h3>
                                        <a href="{% url 'article' topic=article.topic.lower slug=article.slug %}">{{ article.title }}</a>
                                    </h3>
                                    <time class="published"
                                          datetime="2015-10-20">{{ article.published_date.date }}</time>
                                </header>
                                <a href="{% url 'article' topic=article.topic.lower slug=article.slug %}" class="image">
                                    {% thumbnail article.image "51x51" as thumb %}
                                        <img src="{{ thumb.url }}" alt="{{ article.title }}"/></a>
                                    {% endthumbnail %}
                                </a>
                            </article>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        {% if module.top_technology_module %}
            <!-- Technology Posts List -->
            <section>
                <h2>Top Technology</h2>
                <ul class="posts">
                    {% for article in technology_articles %}
                        <li>
                            <article>
                                <header>
                                    <h3>
                                        <a href="{% url 'article' topic=article.topic.lower slug=article.slug %}">{{ article.title }}</a>
                                    </h3>
                                    <time class="published"
                                          datetime="2015-10-20">{{ article.published_date.date }}</time>
                                </header>
                                <a href="{% url 'article' topic=article.topic.lower slug=article.slug %}" class="image">
                                    {% thumbnail article.image "51x51" as thumb %}
                                        <img src="{{ thumb.url }}" alt="{{ article.title }}"/></a>
                                    {% endthumbnail %}
                                </a>
                            </article>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        {% if module.top_entertainment_module %}
            <!-- Entertainment Posts List -->
            <section>
                <h2>Top Entertainment</h2>
                <ul class="posts">
                    {% for article in entertainment_articles %}
                        <li>
                            <article>
                                <header>
                                    <h3>
                                        <a href="{% url 'article' topic=article.topic.lower slug=article.slug %}">{{ article.title }}</a>
                                    </h3>
                                    <time class="published"
                                          datetime="2015-10-20">{{ article.published_date.date }}</time>
                                </header>
                                <a href="{% url 'article' topic=article.topic.lower slug=article.slug %}" class="image">
                                    {% thumbnail article.image "51x51" as thumb %}
                                        <img src="{{ thumb.url }}" alt="{{ article.title }}"/></a>
                                    {% endthumbnail %}
                                </a>
                            </article>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        {% if module.top_trends_module %}
            <!-- Trends Posts List -->
            <section>
                <h2>Top Trends</h2>
                <ul class="posts">
                    {% for article in trend_articles %}
                        <li>
                            <article>
                                <header>
                                    <h3>
                                        <a href="{% url 'article' topic=article.topic.lower slug=article.slug %}">{{ article.title }}</a>
                                    </h3>
                                    <time class="published"
                                          datetime="2015-10-20">{{ article.published_date.date }}</time>
                                </header>
                                <a href="{% url 'article' topic=article.topic.lower slug=article.slug %}" class="image">
                                    {% thumbnail article.image "51x51" as thumb %}
                                        <img src="{{ thumb.url }}" alt="{{ article.title }}"/></a>
                                    {% endthumbnail %}
                                </a>
                            </article>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        {% if module.about_module %}
            <!-- About -->
            <section class="blurb">
                <h2>About</h2>
                <p>{{ website.about }}</p>
                <ul class="actions">
                    <li><a href="{% url 'about' %}" class="button">Learn More</a></li>
                </ul>
            </section>
        {% endif %}
        <!-- Footer -->
        <section id="footer">
            <ul class="icons">
                {% for social in socials %}
                    <li><a href="{{ social.link }}" class="fa-{{ social.icon }}" target="_blank"><span
                            class="label">{{ social.title }}</span></a></li>
                {% endfor %}
                {% if module.contact_module %}
                    <li><a href="{% url 'contact' %}" class="fa-envelope"><span class="label">Contact Us</span></a></li>
                {% endif %}
            </ul>
            <p class="copyright">&copy; {{ website.title }} {{ year }}. All Rights Reserved. <br>Developer: <a
                    href="https://twitter.com/vaibhaved" target="_blank">@vaibhaved</a></p>
        </section>

    </section>

</div>

<!-- Scripts -->
{% if module.google_analytics_module %}
    <!-- Google Analytics -->
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                        (i[r].q = i[r].q || []).push(arguments)
                    }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                    m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', '{{ website.analytics_code }}', 'auto');
        ga('send', 'pageview');
    </script>
    <!-- End Google Analytics -->
{% endif %}
<script src="{% static 'assets/js/skel.min.js' %}"></script>
<script src="{% static 'assets/js/util.js' %}"></script>
<!--[if lte IE 8]><script src="{% static 'assets/js/ie/respond.min.js' %}"></script><![endif]-->
<script src="{% static 'assets/js/main.js' %}"></script>
<!--{% block scripts %}{% endblock %}-->
</body>
</html>
