{% extends "layout.html" %}
{% load static %}
{% load thumbnail %}
{% block content %}
    <section>
        <article class="post">
            <header>
                <div class="title">
                    <h2>{{ profile.username.get_full_name }}</h2>
                    {% if profile.active %}
                        <p>{{ profile.designation }}</p>
                    {% else %}
                        <p>N/A</p>
                    {% endif %}
                </div>
                <div class="meta">
                    <img src="{{ profile.display_picture.url }}" alt="{{ profile.staff_name }}" class="image main"/>
                </div>
            </header>
            <p>{{ profile.about_me }}</p>
        </article>
    </section>
    <section>
        <h2>Articles by {{ profile.username.get_short_name }}</h2>
        <div class="mini-posts">
            {% for article in articles %}
                <!-- Mini Post -->
                <article class="mini-post">
                    <header>
                        <h3>
                            <a href="{% url 'article' topic=article.topic.lower slug=article.slug %}">{{ article.title }}</a>
                        </h3>
                        <time class="published" datetime="2015-10-20">{{ article.published_date.date }}</time>
                        <a href="{% url "profile" pk=article.author.pk %}" class="author">
                            {% thumbnail article.author.userprofile.display_picture "1024x1024" crop='center' as t_dp %}
                                <img src="{{ t_dp.url }}"
                                     alt="{{ article.author.get_full_name }}"/>
                            {% endthumbnail %}
                        </a>
                    </header>
                    <a href="{% url 'article' topic=article.topic.lower slug=article.slug %}" class="image">
                        {% thumbnail article.image "351x176" as thumb %}
                            <img src="{{ thumb.url }}" alt="{{ article.title }}"/></a>
                        {% endthumbnail %}
                    </a>
                </article>
            {% endfor %}
        </div>
        <!-- Pagination -->
        <ul class="actions pagination">
            {% if articles.has_previous %}
                <li><a href="?page={{ articles.previous_page_number }}" class="button big previous">Previous
                    Page</a></li>
            {% else %}
                <li><a href="#" class="disabled button big previous">Previous Page</a></li>
            {% endif %}

            {% if articles.has_next %}
                <li><a href="?page={{ articles.next_page_number }}" class="button big next">Next Page</a></li>
            {% else %}
                <li><a href="#" class="disabled button big next">Next Page</a></li>
            {% endif %}
        </ul>
    </section>
{% endblock %}
